[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
flake8-django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
requests = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
